.eip-header {
    position: fixed;
    top: 0;
    z-index: 100!important;
    min-height: 480px;
    width: 100%;
    height: 100%;
    background: #f1f1f1
}
.eip-loader,
.eip-logo {
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    cursor: default;
    pointer-events: none
}
.eip-loader {
    top: 50%;
    margin-top: -30px
}
.eip-header .eip-inner {
    display: block;
    margin: 0 auto
}
.eip-header .eip-loader svg path {
    fill: none;
    stroke-width: 6
}
.eip-header .eip-loader svg path.eip-loader-circlebg {
    stroke: #ddd
}
.eip-header .eip-loader svg path.eip-loader-circle {
    -webkit-transition: stroke-dashoffset .2s;
    transition: stroke-dashoffset .2s;
    stroke: #0adcd5
}
.loading .eip-loader,
.loading .eip-logo {
    opacity: 1;
    -webkit-animation: animInitialHeader 1s cubic-bezier(.7, 0, .3, 1) both;
    animation: animInitialHeader 1s cubic-bezier(.7, 0, .3, 1) both
}
.loading .eip-loader {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}
@-webkit-keyframes animInitialHeader {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 800px, 0)
    }
}
@keyframes animInitialHeader {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 800px, 0);
        transform: translate3d(0, 800px, 0)
    }
}
.loaded .eip-loader,
.loaded .eip-logo {
    opacity: 1
}
.loaded .eip-logo {
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: animLoadedLogo 1s cubic-bezier(.7, 0, .3, 1) forwards;
    animation: animLoadedLogo 1s cubic-bezier(.7, 0, .3, 1) forwards
}
@-webkit-keyframes animLoadedLogo {
    to {
        -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(.65, .65, 1)
    }
}
@keyframes animLoadedLogo {
    to {
        -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(.65, .65, 1);
        transform: translate3d(0, 100%, 0) translate3d(0, 50px, 0) scale3d(.65, .65, 1)
    }
}
.loaded .eip-loader {
    -webkit-animation: animLoadedLoader .5s cubic-bezier(.7, 0, .3, 1) forwards;
    animation: animLoadedLoader .5s cubic-bezier(.7, 0, .3, 1) forwards
}
@-webkit-keyframes animLoadedLoader {
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0) scale3d(.3, .3, 1)
    }
}
@keyframes animLoadedLoader {
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0) scale3d(.3, .3, 1);
        transform: translate3d(0, -100%, 0) scale3d(.3, .3, 1)
    }
}
.loaded .eip-logo svg path {
    -webkit-transition: all .5s ease .3s;
    transition: all .5s ease .3s;
    fill: #fff
}
.loaded .eip-header {
    -webkit-animation: animLoadedHeader 1s cubic-bezier(.7, 0, .3, 1) forwards;
    animation: animLoadedHeader 1s cubic-bezier(.7, 0, .3, 1) forwards
}
@-webkit-keyframes animLoadedHeader {
    to {
        -webkit-transform: translate3d(0, -100%, 0)
    }
}
@keyframes animLoadedHeader {
    to {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0)
    }
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    background-color: #f7f7f7;
    font-size: 16px;
    line-height: 25px
    color: #3b3b3b
}
ul {
    padding: 0
    margin: 0
}
a,
a:active,
a:focus,
a:hover,
button,
button:focus,
input,
textarea {
    outline: 0
}
a,
a:active,
a:focus,
a:hover {
    text-decoration: none
}
a,
input,
textarea {
    -webkit-transition: all .3s ease-in-out .25s;
    -o-transition: all .3s ease-in-out .25s;
    transition: all .3s ease-in-out .25s
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lato, sans-serif;
    font-weight: 900;
}


.small-section {
    padding: 60px 0
}

.menu-wrapper header .mobile-menu .line:after,
.menu-wrapper header .mobile-menu .line:before {
    content: "";
    width: 30px;
    height: 2px;
    position: absolute;
    background-color: #3b3b3b
}
.menu-wrapper header nav ul {
    padding: 0;
}
.menu-wrapper header nav ul li a {
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all
}
.menu-wrapper header {
    height: 75px;
    margin-top: 60px
}
.menu-wrapper header .logo {
    float: left;
    line-height: 75px
}
.menu-wrapper header .logo a {
    color: #000;
}
.menu-wrapper header .logo a:active,
.menu-wrapper header .logo a:focus,
.menu-wrapper header .logo a:hover {
    border-bottom: 2px solid #0adcd5;
}
.menu-wrapper header .mobile-menu {
    width: 32px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    right: 20px;
    top: 22px;
    display: none
}
.menu-wrapper header .mobile-menu .line {
    height: 2px;
    width: 30px;
    display: inline-block;
    position: relative;
    background-color: #3b3b3b;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all
}
.menu-wrapper header .mobile-menu.open .line {
    background-color: transparent
}
.menu-wrapper header .mobile-menu .line:before {
    top: -7px;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all
}
.menu-wrapper header .mobile-menu.open .line:before {
    -webkit-transform: translateY(7px) rotateZ(-45deg);
    -moz-transform: translateY(7px) rotateZ(-45deg);
    -ms-transform: translateY(7px) rotateZ(-45deg);
    -o-transform: translateY(7px) rotateZ(-45deg);
    transform: translateY(7px) rotateZ(-45deg)
}
.menu-wrapper header .mobile-menu .line:after {
    top: 7px;
    -webkit-transition: .2s all;
    -o-transition: .2s all;
    transition: .2s all
}
.menu-wrapper header .mobile-menu.open .line:after {
    -webkit-transform: translateY(-7px) rotateZ(45deg);
    -moz-transform: translateY(-7px) rotateZ(45deg);
    -ms-transform: translateY(-7px) rotateZ(45deg);
    -o-transform: translateY(-7px) rotateZ(45deg);
    transform: translateY(-7px) rotateZ(45deg)
}
.menu-wrapper header nav {
    float: right;
    line-height: 75px
}
.menu-wrapper header nav ul li {
    display: inline-block;
    margin-left: 25px;
    position: relative
}
.menu-wrapper header nav ul li:first-child {
    margin-left: 0
}
.menu-wrapper header nav ul li a,
.menu-wrapper header nav ul li span {
    color: #848484;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
    padding-bottom: 2px
}
.menu-wrapper header nav>ul>li>a,
.menu-wrapper header nav ul li span {
    border-bottom: 2px solid #848484
}
.menu-wrapper header nav ul li ul {
    position: absolute;
    top: 100%;
    min-width: 180px;
    background-color: #3b3b3b;
    line-height: 25px;
    z-index: 1;
    opacity: 0;
    visibility: hidden
}
.menu-wrapper header nav ul li:hover ul {
    opacity: 1;
    visibility: visible
}
.menu-wrapper header nav ul li ul li {
    margin: 0;
    display: block;
    position: relative
}
.menu-wrapper header nav ul li ul li a {
    display: block;
    font-size: 11px;
    font-weight: 400;
    padding: 15px 20px;
    line-height: 15px;
    color: #C0BDBF
}
.menu-wrapper header nav ul li ul li a:active,
.menu-wrapper header nav ul li ul li a:focus,
.menu-wrapper header nav ul li ul li a:hover {
    padding-left: 30px;
    background-color: #2d2d2d
}
.menu-wrapper header nav ul li ul li ul {
    position: absolute;
    left: 100%;
    top: 0;
    opacity: 0!important;
    visibility: hidden!important;
    border-left: 1px solid #4C4C4C
}
.menu-wrapper header nav ul li ul li:hover ul {
    opacity: 1!important;
    visibility: visible!important
}

.page-title {
    padding: 50px 0
}

@media (max-width:767px) {
    body {
        font-size: 14px
    }
    .menu-wrapper header .mobile-menu {
        display: block
    }
    .menu-wrapper header {
        margin-top: 0
    }
    .menu-wrapper header nav {
        float: left;
        line-height: 25px;
        width: 100%;
        background-color: #3b3b3b
    }
    .menu-wrapper header nav ul {
        display: none
    }
    .menu-wrapper header nav ul li {
        display: block;
        margin: 0;
        border-bottom: 1px solid #757575;
        padding: 8px 15px
    }
    .menu-wrapper header nav ul li ul {
        display: block;
        position: relative;
        opacity: 1;
        visibility: visible;
        border: none
    }
    .menu-wrapper header nav ul li ul li {
        padding: 0
    }
    .menu-wrapper header nav ul li ul li:last-child {
        border-bottom: none
    }
    .menu-wrapper header nav ul li ul li a {
        padding: 8px 15px;
        color: #848484
    }
    .menu-wrapper header nav ul li ul li ul {
        display: block;
        position: relative;
        left: 0;
        opacity: 1!important;
        visibility: visible!important;
        border: none
    }
    .menu-wrapper header nav ul li ul li ul li {
        margin-left: 12px!important
    }
    .menu-wrapper header nav ul li a {
        font-size: 13px
    }
    .about-number {
        flex: 100px
    }
}
::-moz-selection {
    color: #fff;
    background: #0adcd5
}
::selection {
    color: #fff;
    background: #0adcd5
}


.menu-wrapper header nav ul li a:active,
.menu-wrapper header nav ul li a:focus,
.menu-wrapper header nav ul li a:hover,
.menu-wrapper header nav ul li span {
    color: #0adcd5;
    border-color: #0adcd5;
}
.menu-wrapper header nav>ul>li>a:active,
.menu-wrapper header nav>ul>li>a:focus,
.menu-wrapper header nav>ul>li>a:hover {
    border-bottom-style: dotted;
}
.menu-wrapper header nav ul li.active>a,
.theme-color {
    color: #0adcd5
}

.menu-wrapper header nav ul li.active>a,
input:focus,
textarea:focus {
    border-color: #0adcd5
}
